@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

@mixin button-border($width, $color) {
  border: $width solid $color;
}

@mixin glowing-button() {
  @include button-border($width: 1rem, $color: #CA5555);

  background-color: #FF4000;
  color: #FFF;
}

@mixin outline-button() {
  @include button-border($width: 1rem, $color: #CA5515);

  background: #FFF;
  color: #585858;
}

@mixin square-dimension($dimension: 1rem) {
  @include dimensions($dimension, $dimension); 
}

@mixin dimensions($width: 1rem, $height: 1rem) {
  width: $width;
  height: $height; 
}

@mixin clearfix() {
  &:before,
  &:after {
    display: table; // 2
    content: " "; // 1
  }
  &:after {
    clear: both;
  }
}

@mixin alert-variant($background, $border, $text-color) {
  color: $text-color;
  background-color: $background;
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($text-color, 10%);
  }
}

@mixin opacity($opacity) {
  $opacity-ie: ($opacity * 100);  // IE8 filter
  filter: alpha(opacity=$opacity-ie);
  opacity: $opacity;
}