// SPECIFITY ISSUES
// ---------------------------

// overspecifing
a.c1 {
  color: #523562;
}

a#id1 {
  font-size: $font-size-large;
}

#id2 {
  background-position: center;
}

.agr#oie {
  background-position: left;  
}

#id4.c2 {
  padding: 5rem;
}

#id4 {
  color: #871242;

  &:hover {
    background-color: #012483;
  }

  &#id5 {
    display: block;
  }

  &.c3 {
    font-size: 8rem;
  }

  .c4 {
    margin: 2rem;

    &:before {
      clear: both;
    }

    &__element {
      display: flex;
      flex-flow: column nowrap;
    }

    .c5 {
      cursor: pointer;
      border: 0;

      ~ .list__item {
        list-style-position: outside;

        .list__link {
          color: #198234;

          &:after {
            margin: 0;
          }

          &:focus {
            border: 1px solid #A8E;
          }
        }
      }
    }
  }
}

.c6 > .c7 ~ button.c8.c9 {
  width: 15.2rem;
}

.c10 {
  &.c11 {
    &.c12 {
      &.c13 {
        &:hover {
          height: 6.5rem;
        }

        &.c14 {
          font-size: $font-size-large;
        }
      }

      .c15 {
        @include square-dimension($dimension: 5rem);
      }
    }
  }
}

#opk.c13 {
  text-shadow: 0 1px 0 #fff;
}

.fancy-image {
  background-image: url('https://images.freeimages.com/images/large-previews/e71/frog-1371919.jpg');
}

// clean selectors

kbd {
  @include opacity(0.8);

  padding: 0;
  font-size: 100%;
  font-weight: 700;
  box-shadow: none;
}

code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.close {
  float: right;
  line-height: 1;
  @include opacity(.2);

  &:focus {
    text-decoration: none;
    cursor: pointer;
    @include opacity(.5);
  }

  .pokawdf {
    margin: 20px;
  }
}

.outline-button {
  @include outline-button();
  @include dimensions(5,2);

  text-align: center;
}

.bubble {
  @extend %tool;
  color: $brand-primary;
}

.main-nav {
  @extend %tap;
}

.side-nav {
  @extend %tap;
}

.hidden {
  @extend .non-placeholder;
}
