// PERFORMANCE INTENSIVE RULES
// ------------------

.layout-animation {
  transition: margin 350ms ease-in;
}

.paint-animation {
  transition-property: color, margin;
}

.font-type-1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: $font-size-base;
}

.font-type-2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: $font-size-base;
}

.font-type-3 {
  font-family: Arial, Helvetica, sans-serif;
}

.font-type-4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: $font-size-base;
}

.font-type-5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font-type-6 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: $font-size-base;
}

input[type="email"] {
  border-color: #CCC;
}

span[lang="pt"] {
  color:#0A1;
}
