.alert {
  width: 100%;
  padding: 20rem;
  display: inline-block;
  border-radius: 4rem; }
  .alert:before {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
    content: 'X';
    border-radius: 1000px; }
  .alert__text {
    color: #fff; }
  .alert--warning {
    background: #f0ad4e; }
    .alert--warning:before {
      background-color: #f0ad4e;
      background-position: -47px 7px; }
  .alert--info {
    background: #5bc0de; }
    .alert--info:before {
      background-color: #5bc0de;
      background-position: -47px 7px; }

.button {
  width: 10rem;
  border: button-border(1px); }

.v-hidden {
  display: none; }

.v-visible {
  visibility: visible; }

.v-block {
  display: block; }

.duplication-type-1 {
  color: #F00;
  border: 1px solid #a23; }

.duplication-type-1 {
  border: 1px solid #a23;
  color: #F00; }

.duplication-type-2 {
  color: #EE82EE;
  padding: 1px 2px; }

.duplication-type-2 {
  color: violet; }

.duplication-type-2 {
  padding: 1px 2px 1px 2px; }

.duplication-type-3-a {
  margin-top: 1px;
  margin-left: 2px;
  margin-bottom: 3px;
  margin-right: 4px; }

.duplication-type-3-a {
  margin: 1px 2px 3px 4px; }

.duplication-type-3-b {
  border: 1px solid #EE82EE; }

.duplication-type-3-b {
  border-width: 1px;
  border-style: solid;
  border-color: #EE82EE; }

.duplication-type-4 {
  padding: 1px 2px 3px 4px; }

.duplication-type-4 {
  padding-left: 2px; }

.duplication-type-5 {
  color: #F00;
  padding-left: 2px; }

.duplication-type-5 {
  text-decoration: underline;
  color: #F00;
  letter-spacing: 2px; }

.duplication-prop-1-1 {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline; }

.duplication-prop-1-2 {
  text-decoration: underline;
  font-weight: 700;
  font-size: 14px; }

.duplication-prop-2-1 {
  font-weight: 400; }

.duplication-prop-2-2 {
  font-weight: normal; }

.duplication-prop-3-1 {
  padding: 4px 3px 2px 1px; }

.duplication-prop-3-1 {
  padding-top: 4px;
  padding-left: 3px;
  padding-bottom: 2px;
  padding-right: 1px; }

.glowing-button {
  widows: 24rem;
  background-color: #F00;
  border: 1px solid #000; }

.huge-alert {
  color: violet; }

.red-border {
  border: 1px solid #F00; }

.wrong-value {
  margin-top: 1px;
  padding: 15pixel;
  font-size: 12px;
  font-weight: 700; }

.slider {
  width: calc(10rem + 10err); }

.unknown-prop {
  width: 5vh;
  colr: #163;
  text-align: center; }

a {
  my-property: 1; }

a:UNKNOWN {
  border: 1px solid #981232; }

a:hoverr {
  background-color: #981232;
  color: #FFF;
  font-weight: 700; }

unkown {
  height: 5rem;
  width: 5rem; }

a {
  -webkit-animation-name: fancccy-slide;
          animation-name: fancccy-slide; }

@-webkit-keyframes fancy-slide {}

@keyframes fancy-slide {}.fancy-table {
  display: inline;
  width: 100rem;
  margin-top: 2rem; }

.fancy-item {
  filter: alpha(opacity=20);
  opacity: 0.2;
  display: list-item;
  vertical-align: middle; }

.super-table-column {
  display: table-column;
  vertical-align: middle;
  margin: 1px;
  padding: 1px;
  height: 5rem; }

.floated-element {
  float: left;
  vertical-align: top; }

a.special-link {
  font-size: 18px;
  color: #337ab7; }
  a.special-link:hover {
    color: #23527c;
    text-decoration: underline; }

.special-link {
  width: 5rem;
  color: #777777; }

.header {
  display: flex;
  flex: row nowrap;
  justify-content: space-between;
  width: 100%;
  color: #432; }

.header {
  background-color: #432;
  color: #ddd !important; }

.gf-e {
  display: block;
  width: 34% !important; }

.gf-e {
  width: 34%; }

.spread-selector {
  height: 4rem;
  text-align: right; }

.layout-animation {
  transition: margin 350ms ease-in; }

.paint-animation {
  transition-property: color, margin; }

.font-type-1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px; }

.font-type-2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px; }

.font-type-3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

.font-type-4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px; }

.font-type-5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px; }

.font-type-6 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px; }

input[type="email"] {
  border-color: #CCC; }

span[lang="pt"] {
  color: #0A1; }

a.c1 {
  color: #523562; }

a#id1 {
  font-size: 18px; }

#id2#id3 {
  background-position: center; }

.agr#oie {
  background-position: left; }

#id4.c2 {
  padding: 5rem; }

#id4 {
  color: #871242; }
  #id4:hover {
    background-color: #012483; }
  #id4#id5 {
    display: block; }
  #id4.c3 {
    font-size: 8rem; }
  #id4 .c4 {
    margin: 2rem; }
    #id4 .c4::before {
      clear: both; }
    #id4 .c4__element {
      display: flex;
      flex-flow: column nowrap; }
    #id4 .c4 .c5 {
      cursor: pointer;
      border: 0; }
      #id4 .c4 .c5 ~ .list__item {
        list-style-position: outside; }
        #id4 .c4 .c5 ~ .list__item .list__link {
          color: #198234; }
          #id4 .c4 .c5 ~ .list__item .list__link:hover {
            border: 1px solid #A8E; }

.c6 > .c7 ~ button.c8.c9 {
  width: 15rem; }

.c10.c11.c12.c13:hover {
  height: 5rem; }

.c10.c11.c12.c13.c14 {
  font-size: 18px; }

.c10.c11.c12 .c15 {
  width: 5rem;
  height: 5rem; }

#opk.c13 {
  text-shadow: 0 1px 0 #fff; }

.fancy-image {
  background-image: url("https://images.freeimages.com/images/large-previews/e71/frog-1371919.jpg"); }

kbd {
  filter: alpha(opacity=80);
  opacity: 0.8;
  padding: 0;
  font-size: 100%;
  font-weight: 700;
  box-shadow: none; }

code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0; }

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle; }

.close {
  float: right;
  line-height: 1;
  filter: alpha(opacity=20);
  opacity: 0.2; }
  .close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5; }

.outline-button {
  border: 1rem solid #CA5555;
  background: #FFF;
  color: #585858;
  width: 5;
  height: 2;
  text-align: center; }

.glowing-button {
  widows: 24rem;
  background-color: #F00;
  border: 1px solid #000; }

.huge-alert {
  color: #EE82EE; }

.red-border {
  border-width: 1px;
  border-style: solid;
  border-color: #F00; }
  .red-border:before, .red-border:after {
    display: table;
    content: " "; }
  .red-border:after {
    clear: both; }

.spread-selector {
  font-size: 12px;
  text-align: center !important; }

.undoing-styles-1 {
  font-weight: bold;
  color: #2c3e50;
  padding-bottom: 5rem; }

.undoing-styles-1 {
  padding-bottom: 0; }

.too-long-selector {
  width: 2rem;
  height: 2rem;
  background: #2c3e50;
  color: #FAFCFB;
  border: 1px solid #FA01A1;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 0.2rem;
  padding: 0 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  word-wrap: none;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
  .too-long-selector:before {
    content: "start - "; }
  .too-long-selector:after {
    content: " - end"; }

.js-styled {
  width: 1rem;
  height: 10rem;
  align-self: center; }

.magic-fix {
  position: relative; }
  .magic-fix .magic-number {
    position: absolute;
    top: 12.15rem;
    left: 5.505rem;
    bottom: 12%; }

.f1 {
  font-size: 10rem; }

.f2 {
  font-size: 10px; }

.f3 {
  font-size: 13px; }

.f4 {
  font-size: 15rem; }

.f5 {
  font-size: 20px; }

.f6 {
  font-size: 23rem; }

.f7 {
  font-size: 14px; }

.f8 {
  font-size: 12px; }

.f9 {
  font-size: 18px; }


/*# sourceMappingURL=frontend-2d4a7a05.css.map*/