<!DOCTYPE html>
<html>
  <head>
    <title>RailsTestproject</title>

    <%= webpack_css('frontend') %>

    <%= csrf_meta_tags %>


    <%= webpack_js('application') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
